// _general.scss] ******/
#top {
    // border-top: 0.25px solid transparent;
}

*,
body,
body *,
menu,
ol,
ul {
    margin: 0;
}
*,
.header,
body,
body * {
    box-sizing: border-box;
}
.btn-style_blue,
.logo,
.sld-bg {
    z-index: 1;
}
#slider,
.sld-container {
    min-height: 823px;
}
*,
body *,
menu,
ol,
ul {
    padding: 0;
}
a,
hr {
    color: inherit;
}
* {
    border: 0 solid #e5e7eb;
}
:after,
:before {
    --tw-content: "";
}
:host,
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
}
:root {
    --font-content: "Carlito", sans-serif;
    --font-ui: "Roboto", sans-serif;
    --fs-caption: clamp(0.75rem, 0.72rem + 0.2vw, 0.8125rem);
    --fs-ui: clamp(0.875rem, 0.84rem + 0.3vw, 1rem);
    --fs-body: clamp(1rem, 0.95rem + 0.4vw, 1.125rem);
    --fs-h3: clamp(1.25rem, 1.1rem + 0.8vw, 1.5rem);
    --fs-h2: clamp(1.5rem, 1.3rem + 1.2vw, 2rem);
    --fs-h1: clamp(1.75rem, 1.4rem + 1.8vw, 2.5rem);
    --lh-body: 1.6;
    --lh-ui: 1.3;
    --lh-h: 1.2;
    --measure: 65ch;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
button,
input,
select,
textarea {
    font-family: var(--font-ui);
    font-size: 100%;
    font-weight: inherit;
    color: inherit;
    text-transform: none;
}
.btn-style_blue {
    font-size: var(--fs-ui);
    line-height: var(--lh-ui);
    font-family: var(--font-ui);
}
p {
    font-family: var(--font-content);
    font-size: var(--fs-body);
    line-height: var(--lh-body);
    max-width: var(--measure);
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle;
}
img,
video {
    max-width: 100%;
    height: auto;
}
textarea {
    resize: vertical;
}
body,
html {
    max-width: 100vw;
    overflow-x: hidden;
}
body {
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-content);
    font-size: var(--fs-body);
    line-height: var(--lh-body);

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
    svg {
        image-rendering: auto;
    }
    overflow-x: hidden;
    // overflow-y: hidden;
}
label,
button,
input,
select,
textarea {
    font-family: var(--font-ui);
    line-height: var(--lh-ui);
}
header,
nav,
menu {
    font-family: var(--font-ui);
}
h1,
h2,
h3 {
    font-family: var(--font-content);
    line-height: var(--lh-h);
}
h1 {
    font-size: var(--fs-h1);
}
h2 {
    font-size: var(--fs-h2);
}
h3 {
    font-size: var(--fs-h3);
}
a {
    text-decoration: none;
}

.search {
    max-width: 223px !important;
    .nav-padding {
        padding: 1rem 1.5rem !important;
    }
}

input,
button,
select,
textarea,
option {
    background: transparent;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    appearance: none;
}
option {
    cursor: pointer;
}
*:focus-visible {
    outline: 2px solid $primary-blue;
}
/* Reset List Styles */
ul,
ol {
    list-style: none;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 1440px;
    width: auto;
    position: relative;
}

.flx-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

main {
    margin: 0;
    // border-top: 64px solid #000;
    width: calc(100%);
    min-height: calc(100dvh - 64px);
    position: absolute;
    top: 64px;
    box-sizing: border-box;
    // border: 1px solid #000;
}
.section {
    width: 100%;
    min-height: calc(100dvh);
    display: block;
}
.fixed-menu:first-child {
    // padding-top: 1px;
    width: 100%;
    // height: 200px;
    background: #ff0000;
}
.active-section {
    padding-top: 80px;
}
@media (min-width: 1024px) {
    main {
        margin: 94px 0 0 117px;
        width: calc(100% - 117px);
        min-height: calc(100vh - 94px);
    }
    .section {
        padding: 24px;
        min-height: 100vh;
    }
    .active-section {
        padding-top: 0px;
    }
}
