// _general.scss] ******/
#top {
    // border-top: 0.25px solid transparent;
}

*,
body,
body *,
menu,
ol,
ul {
    margin: 0;
}
*,
.header,
body,
body * {
    box-sizing: border-box;
}
.btn-style_blue,
.logo,
.sld-bg {
    z-index: 1;
}
#slider,
.sld-container {
    min-height: 823px;
}
*,
body *,
menu,
ol,
ul {
    padding: 0;
}
a,
hr {
    color: inherit;
}
* {
    border: 0 solid #e5e7eb;
}
:after,
:before {
    --tw-content: "";
}
:host,
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    color: inherit;
    text-transform: none;
}
.btn-style_blue,
p {
    font-size: 1.25rem;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle;
}
img,
video {
    max-width: 100%;
    height: auto;
}
textarea {
    resize: vertical;
}
body,
html {
    max-width: 100vw;
    overflow-x: hidden;
}
body {
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Roboto, sans-serif;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }
    svg {
        image-rendering: auto;
    }
    overflow-x: hidden;
    // overflow-y: hidden;
}
a {
    text-decoration: none;
}

.search {
    max-width: 223px !important;
    .nav-padding {
        padding: 1rem 1.5rem !important;
    }
}

input,
button,
select,
textarea,
option {
    background: transparent;
    outline: none;
    margin: 0;
    padding: 0;
    border: none;
    appearance: none;
}
option {
    cursor: pointer;
}
*:focus-visible {
    outline: 2px solid $primary-blue;
}
/* Reset List Styles */
ul,
ol {
    list-style: none;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 1440px;
    width: auto;
    position: relative;
}

.flx-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

//? Card
.card_bg {
    position: absolute;
    left: 42px;
    top: 82px;
    width: $width-card_bg;
    height: calc(360px + 82px);
    border-radius: 45px 0px 45px 45px;
    background: $white;
}
.segment {
    width: $width-card_bg;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    column-gap: calc(42px);
    position: relative;
    margin: 0 0 0 42px;

    .card_header,
    .card_empty {
        width: calc($width-card_header + 42px + 42px);
        flex-flow: column nowrap;
        padding: 40px 42px;
        padding: 40px 42px 42px 42px;
        display: flex;
        border-radius: 45px;
    }
    .card_empty {
        background: none;
    }
    .card_content,
    .srv-description {
        display: flex;
        width: calc($width-card_content + 60px + 42px);
        flex-flow: column nowrap;
        align-content: space-between;
        justify-content: space-between;
        padding: 40px 66px 42px 42px;
        border-radius: 45px 90px 45px 45px;

        p {
            padding: 0;
            margin: 0;
        }
    }
}
.card_title,
.card_empty {
    height: 82px;
    width: calc($width-card_content + 66px + 42px);
    padding: 40px 66px 42px 42px;
    border-radius: 45px 82px 0px 0px;
    background: $white;
}
main {
    margin: 94px 0 0 117px;
    width: calc(100vw - 116px);
    min-height: calc(100vh - 94px);
    position: relative;
    box-sizing: border-box;
}
