/* ==========================================================================
   FILE: src/adaptable/src/assets/styles/03_pages/_page.scss
   ROLE: layout
   SCOPE: Styles de page (adaptable)
   DEPENDENCIES: none
   BREAKPOINTS:
     - Mobile: default
     - Desktop: >= 1024px
   NOTES: Contient le menu fixe de section.
   ========================================================================== */

/* --- Table of contents -----------------------------------------------------
  2) Base / structure
  4) Animations
--------------------------------------------------------------------------- */

/* 2) Base / structure */
.section {
    width: 100%;
    &:first-child {
        div {
        }
    }
    .fixed-menu {
        height: calc(60px + 2rem);
        width: 100vw;
        transform-origin: top;
        transform: scaleY(1);
        transition: all 375ms ease-in-out;
    }
    h2 {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
    }
    .s1,
    .s2,
    .s3 {
        padding: 2rem;
    }
    .s2 {
        background: rgb(172, 212, 172);
    }
    .s3 {
        background: rgb(176, 176, 214);
    }
}
