/****** Fonts ******/
@import url("https://fonts.googleapis.com/css2?family=Carlito:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

/* Nav-Menu */
@mixin font-base($font-family: $font-ui, $line-height: 24px) {
    font-family: $font-family;
    line-height: $line-height;
}

@mixin nav-link() {
    @include font-base();
    font-weight: 500;
    font-size: 24px;
    color: $text-white;
}
@mixin nav-title() {
    @include font-base();
    font-weight: 500;
    font-size: 24px;
    color: $nav-title-red;
}
@mixin navLink {
    font-family: $font-ui;
    font-size: 1.25rem; // 20px
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem; // 22px
}
@mixin side-copyright() {
    @include font-base();
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: $text-white;
}
@mixin bannerH2 {
    font-family: $font-content;
    color: $black;
    font-size: 2rem; //32px
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@mixin bannerH2Bold {
    font-family: $font-content;
    color: $black;
    font-size: 2rem; //32px
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@mixin bannerDescribe {
    @include paragraph();
    color: $black;
}

@mixin bannerDescribeBold {
    font-family: $font-content;
    color: $primary-black;
    font-size: 1.75rem; // 28px
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.12px;
}

@mixin h2Title {
    font-family: $font-content;
    color: $black;
    font-size: 2.5rem; // 40px
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.8px;
}

@mixin paragraph {
    font-family: $font-content;
    color: $primary-black;
    font-size: 1.75rem; // 28px
    font-style: normal;
    font-weight: 500;
    line-height: 2.0625rem; // 33px
}

@mixin serviceDescribeBold {
    @include paragraph();
    font-weight: 600;
}

@mixin buttonText {
    font-family: $font-ui;
    color: $white;
    font-size: 1.25rem; // 20px
    font-style: normal;
    font-weight: 700;
    line-height: 1.25rem; // 20px
    text-align: center;
}
