.nav-bar--desktop-submenu {
    .link-group {
        .link-button.group_link-submenu {
            position: relative;

            .head-link {
                min-height: 20px;
                min-width: 20px;
                display: inline-flex;
                align-items: center;
                gap: 0.5rem;
                border: 0;
                background: transparent;
                cursor: pointer;

                .nav-link,
                .icon-color {
                    color: $text-white;
                    fill: $text-white;
                }

                &.active {
                    .nav-link,
                    .icon-color {
                        color: $primary-blue;
                        fill: $primary-blue;
                    }
                }
            }
        }
    }

    .submenu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: max-content;
        padding-top: 1rem;
        z-index: 110;
        opacity: 0;
        transition: opacity 0.35s ease;

        &.open {
            display: block;
            opacity: 1;
        }
    }

    .group_link-submenu:hover .submenu,
    .group_link-submenu:focus-within .submenu {
        display: block;
        opacity: 1;
    }

    .submenu_group {
        background-color: $white;
        border-radius: 1rem;
        padding: 0.75rem;
        display: flex;
        flex-flow: column;
        gap: 0.25rem;
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);

        .nav-link {
            display: block;
            margin: 0;
            padding: 0.5rem 0.75rem;
            border-radius: 0.5rem;
            color: $primary-black;
            text-decoration: none;

            &:hover {
                color: $primary-orange;
            }

            &.active {
                color: $primary-blue;
            }
        }
    }
}
