.logo {
    width: 64px;
    height: 64px;
    display: inline-flex;
    align-items: center;
    margin: 117px;
    margin: 27px;
    background-color: $nav-bg-black;
    position: absolute;
    left: 0px;
    z-index: 102;
    isolation: isolate;
    .my-logo {
        position: absolute;
        width: 64px;
    }
    .l1 {
        z-index: 10;
    }
}
