.logo {
    width: 64px;
    height: 64px;
    display: inline-flex;
    align-items: center;
    margin: 117px;
    margin: 27px;
    background-color: $nav-bg-black;
    position: absolute;
    left: 0px;
    z-index: 102;
    .my-logo {
        position: absolute;
        width: 64px;
    }
    .l1 {
        z-index: 10;
    }

    .logo-stop--c-start {
        animation: 300s ease-in-out infinite alternate blue1;
    }

    .logo-stop--c-end {
        animation: 600s ease-in-out infinite alternate blue2;
    }

    .logo-stop--d-start {
        animation: 60s ease-in-out infinite alternate red1;
    }

    .logo-stop--d-end {
        animation: 120s ease-in-out infinite alternate red2;
    }

    .logo-stop--e-start {
        animation: 180s ease-in-out infinite alternate green1;
    }

    .logo-stop--e-end {
        animation: 360s ease-in-out infinite alternate green2;
    }

    .logo-stop--a-start {
        animation: 8s ease-in-out infinite alternate blue1;
    }

    .logo-stop--a-end {
        animation: 8s ease-in-out infinite alternate stopColor2;
    }
}
