.sidebar {
    width: 117px;
    position: fixed;
    top: 85px;
    z-index: 99;
    height: calc(100vh - 85px);
    background-color: $nav-bg-black;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    justify-content: center;
    padding: 7px 26px 0 26px;

    .side-nav {
        position: relative;
        left: 0;
        width: 64px;
        height: auto;

        .side-icon {
            margin-bottom: 20px;
            box-sizing: border-box;
            border-radius: 10px;
            border: 2px solid $nav-bg-black;
            width: 64px;
            height: 64px;
            svg {
                width: 64px;
                height: 64px;
            }
            .red-content_icon {
                fill: $text-white;
            }
            .white-bg_icon {
                fill: rgba(2, 2, 3, 0);
            }
        }
    }
}
