.sidebar {
    width: 117px;
    position: fixed;
    top: 85px;
    z-index: 99;
    height: calc(100vh - 85px);
    background-color: $nav-bg-black;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    justify-content: center;
    padding: 7px 26px 0 26px;
    box-shadow: 4px 0px 4px 0px rgba(0, 0, 0, 0.25);
    .side-nav {
        position: relative;
        left: 0;
        width: 64px;
        height: auto;
        .side-icon {
            margin-bottom: 20px;
            border-radius: 10px;
            box-sizing: border-box;
            border: 2px solid $nav-bg-black;
            svg {
                width: 64px;
                height: 64px;
            }
            .red-content_icon {
                fill: transparent;
                // fill: $text-white;

                // opacity: 0;
                @include drop-shadow(1px 1px rgba(0, 0, 0, 0.35));
            }
            .white-bg_icon {
                fill: rgb(255, 255, 255);

                @include drop-shadow(1px 1px rgba(0, 0, 0, 0.2));

                // &.before {
                //     opacity: 0.5;
                // }
                &.after {
                    opacity: 0.5;
                }
            }
        }
    }
}
