.sidebar {
    width: 117px;
    position: fixed;
    top: 85px;
    z-index: 99;
    height: calc(100vh - 85px);
    background-color: $nav-bg-black;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    justify-content: center;
    padding: 7px 26px 0 26px;

    .side-nav {
        position: relative;
        left: 0;
        width: 64px;
        height: auto;
        --side-icon-size: 64px;

        a {
            display: block;
            line-height: 0;
        }

        .side-icon {
            margin-bottom: 20px;
            box-sizing: border-box;
            border-radius: 10px;
            border: 2px solid $nav-bg-black;
            width: var(--side-icon-size);
            height: var(--side-icon-size);
            flex: 0 0 var(--side-icon-size);
            svg {
                width: 100%;
                height: 100%;
                display: block;
            }
            .red-content_icon {
                fill: $text-white;
            }
            .white-bg_icon {
                fill: rgba(2, 2, 3, 0);
            }
        }
    }
}
