#C stop:first-child {
    animation: blue1 300s infinite alternate ease-in-out;
}
#C stop:last-child {
    animation: blue2 600s infinite alternate ease-in-out;
}
#D stop:first-child {
    animation: red1 60s infinite alternate ease-in-out;
}
#D stop:last-child {
    animation: red2 120s infinite alternate ease-in-out;
}
#E stop:first-child {
    animation: green1 180s infinite alternate ease-in-out;
}
#E stop:last-child {
    animation: green2 360s infinite alternate ease-in-out;
}
#A stop:first-child {
    animation: stopColor1 8s infinite alternate ease-in-out;
}
#A stop:last-child {
    animation: stopColor2 8s infinite alternate ease-in-out;
}
.logoBG {
    transform-origin: center;
    animation: scale1 0.6s linear forwards;
    opacity: 0;
}
.logo:hover .logoBG {
    transform-origin: center;
    transform: scale(0);

    animation: scale0 0.5s linear backwards;
}
.logo:hover .logoW {
    transform: rotateY(180deg);
    transition: transform 0.6s ease;
    transform-origin: center;
}
.l1 {
    animation: opacityTide 32s infinite alternate linear 4s;
    opacity: 1;
    /* background: #ff0202; */
}
.logo:hover .l1 {
    animation: opacityLogo2 1s linear;
    opacity: 1;
}
@keyframes scale1 {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes scale0 {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}
@keyframes opacityTide {
    /* Cycle 1 */
    0% {
        opacity: 1; /* marée haute */
    }
    8% {
        opacity: 0.7;
    }
    14% {
        opacity: 0.4;
    }
    19% {
        opacity: 0.22; /* marée basse */
    }
    20% {
        opacity: 0.2; /* marée basse */
    }
    21% {
        opacity: 0.22; /* marée basse */
    }
    25% {
        opacity: 0.36;
    }
    30% {
        opacity: 0.6; /* étale */
    }

    /* Cycle 2 */
    38% {
        opacity: 1; /* haute mer */
    }
    45% {
        opacity: 0.5;
    }
    52% {
        opacity: 0.25; /* basse mer */
    }
    57% {
        opacity: 0.3;
    }
    63% {
        opacity: 0.5;
    }
    68% {
        opacity: 0.8; /* remontée lente */
    }

    /* Cycle 3 */
    75% {
        opacity: 1; /* pleine mer */
    }
    82% {
        opacity: 0.6;
    }
    88% {
        opacity: 0.2; /* descend + vite */
    }
    91% {
        opacity: 0.225; /* mini marée */
    }
    92% {
        opacity: 0.2; /* mini marée */
    }
    93% {
        opacity: 0.225; /* mini marée */
    }
    96% {
        opacity: 0.5;
    }
    100% {
        opacity: 1; /* retour marée haute */
    }
}

@keyframes opacityLogo2 {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes blue1 {
    0% {
        stop-color: #ffed00;
    }
    100% {
        stop-color: #00fff7;
    }
}
@keyframes blue2 {
    0% {
        stop-color: #312783;
    }
    100% {
        stop-color: #7300ff;
    }
}
@keyframes red1 {
    0% {
        stop-color: #e6007e;
    }
    100% {
        stop-color: #f8a5c2;
    }
}
@keyframes red2 {
    0% {
        stop-color: #009fe3;
    }
    100% {
        stop-color: #00e6d3;
    }
}
@keyframes green1 {
    0% {
        stop-color: #009640;
    }
    100% {
        stop-color: #00ff55;
    }
}
@keyframes green2 {
    0% {
        stop-color: #e30613;
    }
    100% {
        stop-color: #ff5500;
    }
}
@keyframes stopColor1 {
    0% {
        stop-color: #ffed00;
    }
    100% {
        stop-color: #00fff7;
    }
}
@keyframes stopColor2 {
    0% {
        stop-color: #e30613;
    }
    100% {
        stop-color: #7300ff;
    }
}
