/* ==========================================================================
   FILE: src/adaptable/src/home/slider/_sliderCTA.scss
   ROLE: component
   SCOPE: Slider - call-to-action
   DEPENDENCIES: mixins.scss, variables.scss
   BREAKPOINTS:
     - Mobile: default
     - Desktop: >= 1024px
   NOTES: États hover/focus-visible conservés.
   ========================================================================== */

/* --- Table of contents -----------------------------------------------------
  2) Base / structure
  3) States (hover, focus, active, open)
--------------------------------------------------------------------------- */

/* 2) Base / structure */
.sld-CTA {
    width: 270px;
    height: 180px;
    border-radius: 24px;
    cursor: pointer;
    background: $white;
    position: absolute;
    z-index: 100;
    margin: 0 0 0 90px;
    display: flex;
    flex-direction: column;
    padding: 24px 0 21px 0;
    top: 168px;
    transform: scale(1);
    transition: transform 0.25s ease-out;
    will-change: transform;
    &:hover,
    &:focus-visible {
        transform: scale(1.05);
    }
    p {
        width: 175px;
        @include bannerDescribeBold;
        &.p1 {
            height: 34px;
        }
        &.p2 {
            height: 39px;
            font-size: 2rem;
            text-align: right;
            margin-bottom: 1rem;
        }
    }
}
