/* ==========================================================================
   FILE: src/adaptable/src/home/slider/_slider.scss
   ROLE: component
   SCOPE: Slider (home) - point d'entrée
   DEPENDENCIES: sliderRoad, sliderContent, sliderArrow, sliderCTA, sliderInfo, sunBG
   BREAKPOINTS:
     - Mobile: default
     - Desktop: >= 1024px (max-width 1390px/900px utilisés)
   NOTES: Imports regroupés en tête.
   ========================================================================== */

/* --- Table of contents -----------------------------------------------------
  2) Base / structure
  5) Responsive - Desktop (>= 1024px)
--------------------------------------------------------------------------- */

@import "../../home/slider/sliderRoad";
@import "../../home/slider/sliderContent";
@import "../../home/slider/sliderArrow";
@import "../../home/slider/sliderCTA";
@import "../../home/slider/sliderInfo";
@import "../../home/slider/sunBG";

/* 2) Base / structure */
.slider-bg {
    position: relative;
    margin: 0 auto;
    z-index: 0;
    max-height: fit-content;
}
.sld-bg,
.slider {
    height: 100%;
    width: 100%;
    position: absolute;
}
#slider {
    min-height: calc(810px - 92px);
}
.sld-sun,
.sld-info_ctn,
.slider-content,
.slide {
    width: 900px;
    max-width: 900px;
    float: right;
    margin-right: 90px;
}

/* 5) Responsive - Desktop (>= 1024px) */
@media (max-width: 1390px) {
    .sld-container {
        .sld-road-med {
            display: block;
        }
        .sld-road,
        .slider-number,
        .sld-flag {
            display: none;
        }
    }
    .sld-sun,
    .sld-info_ctn,
    .slider-content,
    .banner-arrow,
    .slide {
        float: none !important;
        margin: 0 auto;
    }
    .slider {
        .slider-content {
            .sld-card_title {
                h2 {
                    display: block;
                    width: 100%;
                    .bold {
                        display: block;
                    }
                }
            }
        }
    }
    #slider {
        min-height: 822px;
        .sld-info_ctn {
            margin-top: 6rem;
            opacity: 1;
            position: inherit;
            transform: translateX(0);
        }
        .sld-CTA {
            width: auto;
            height: auto;
            padding: 0;
            gap: 16px;
            flex-flow: row wrap;
            margin: 0;
            left: calc(50vw - 457px / 2);
            top: 643px;
            background: transparent;
            div {
                height: 44px;
                display: flex;
                flex-flow: row;
                align-items: center;
                gap: 12px;

                p {
                    width: fit-content;
                    margin: 0 !important;
                    padding: 1px 0 0 0;
                    &.p2 {
                        padding: 0;
                    }
                    //
                }
            }
            a {
                margin: 0;
            }
        }
    }
    .banner-arrow {
        .slider-arrow {
            &.right-arrow,
            &.left-arrow {
                left: 0rem;
                top: -4rem;
            }
            order: 2px solid $primary-blue !important;
        }
    }
}
@media (max-width: 900px) {
    .sld-container {
        .sld-road-med {
            width: calc(100% + 551.25px);
            top: 45px;
        }
        .sld-road,
        .slider-number,
        .sld-flag {
            display: none;
        }
    }
    .sld-sun,
    .sld-info_ctn,
    .slider-content,
    .banner-arrow,
    .slide {
        float: none !important;
        margin: 0 auto;
    }
    .slider {
        .slider-content {
            .sld-card_title {
                h2 {
                    display: block;
                    width: 100%;
                    .bold {
                        display: block;
                    }
                }
            }
        }
    }
    #slider {
        min-height: 822px;
        .sld-info_ctn {
            margin-top: 6rem;
            opacity: 1;
            position: inherit;
            transform: translateX(0);
        }
        .sld-CTA {
            width: auto;
            height: auto;
            padding: 0;
            gap: 16px;
            flex-flow: row wrap;
            margin: 0;
            left: calc(50vw - 457px / 2);
            top: 643px;
            background: transparent;
            div {
                height: 44px;
                display: flex;
                flex-flow: row;
                align-items: center;
                gap: 12px;

                p {
                    width: fit-content;
                    margin: 0 !important;
                    padding: 1px 0 0 0;
                    &.p2 {
                        padding: 0;
                    }
                    //
                }
            }
            a {
                margin: 0;
            }
        }
    }
    .banner-arrow {
        .slider-arrow {
            &.right-arrow,
            &.left-arrow {
                left: 0rem;
                top: -4rem;
            }
            order: 2px solid $primary-blue !important;
        }
    }
}
