/* ==========================================================================
   FILE: src/adaptable/src/assets/styles/00_utils/_functions.scss
   ROLE: utility
   SCOPE: Fonctions Sass
   DEPENDENCIES: sass:color, sass:math
   BREAKPOINTS:
     - Mobile: default
     - Desktop: >= 1024px
   NOTES: Fonctions partagées par l'ensemble des styles.
   ========================================================================== */

/* --- Table of contents -----------------------------------------------------
  2) Base / structure
--------------------------------------------------------------------------- */

/* 2) Base / structure */
@use "sass:color";
@use "sass:math";

// Fonction pour ajuster la luminosité d'une couleur
@function lightness-shift($color) {
    @if (lightness($color) < 25%) {
        @return color.adjust($color, $lightness: 10%);
    } @else {
        @return color.adjust($color, $lightness: -10%);
    }
}

// Mélange de deux couleurs avec un poids spécifique
@function blend-colors($color1, $color2, $weight) {
    @return mix($color1, $color2, $weight);
}
